<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="styles/faq.css" />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navigation bars -->
    <nav>
      <div class="logo">
        <img
          decoding="async"
          src="images/multiwebpress.png"
          alt="Logo Image"
          style="width: 100vh; padding-top: 5%; display: flex; flex-wrap: wrap"
        />
      </div>
      <div class="hamburger">
        <div class="bars1"></div>
        <div class="bars2"></div>
        <div class="bars3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="faq">Faq</a></li>
        <li><a href="product">Product</a></li>
        <li><button class="login-button" href="terms-cond">T&C</button></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/faq">Faq</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/terms-cond">T&C</a></li>
      </ul>
    </nav>
    <!-- thumbnail -->
    <!-- <div class="div-head">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="thumbnail">
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
    </div> -->
    <!-- main container -->
    <main>
      <div class="accordion">
        <h2 class="heading">Product</h2>
        <div class="accordion-item">
          <div class="accordion-item-header">
            1 <span>&#41; &nbsp;</span> What are the margins we put in the
            products manufactured?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      <p>The Manufacturing Process of Metal Handicraft (wallart)?</p>
                      Planning and Designing → Cutting metal sheet → Hammering →
                      Detailing → Welding → Grinding → Powder coating →
                      Colouring → Polishing → LED installation → Packaging.
                      Ready!
                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/xJv26fAZmng"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            2<span>&#41; &nbsp;</span> When unexpected delays can happen in
            delivery?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      <li>Delay in the delivery of the raw </li>
                      <li>Delay in the delivery of the raw materia.</li>
                      <li>Overload in the Handicraft factory 
                        Power Outages due to storms </li>
                        We have devised many solutions for these problems, but sometimes things are not in our favour anyways. We wanted to answer this transparently.

                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/Sx4D0O33xbs"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            3<span>&#41; &nbsp;</span> Why the export price for metal wallart varies everywhere?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      Due to difference in:
                      <!-- <ol> -->
                        <li>Metal thickness 
                        </li>
                        <li>Quality of LED adapter 
                        </li>
                        <li>Polishing
                        </li>
                      <!-- </ol> -->
                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/gyy8gJcpU4A"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            4<span>&#41; &nbsp;</span> Why is Powder Coating used in Metal Art Manufacturing?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      Due to benefits like:
                      <li>Extra Layer of Protection,
                      </li>
                      <li>Helps in colouring and finishing,
                      </li>
                      <li>Eco-friendly and Efficient,
                      </li>
                      <li>Helps in detailing,
                      </li>
                      <li>Increasing Durability.
                      </li>
                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/FCSg2Xbx0sM"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <!-- <div ></div> -->
        <h2 class="heading">Price</h2>
        <div class="accordion-item">
          <div class="accordion-item-header">
            1 <span>&#41; &nbsp;</span> On what factors is the price of metal wall art based?

          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      <li>Raw Materials,
                      </li>
                      <li>Quality of Workmanship,
                      </li>
                      <li>Market conditions,
                      </li>
                      <li>Design and complexity of the piece
                      </li>
                      <li>Size and weight of the final piece
                      </li>
                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <!-- <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/xJv26fAZmng?start=14"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            2<span>&#41; &nbsp;</span> Which metal is mostly used for creating these beautiful wallarts?

          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      Iron is primarily used and powder-coated for these beautiful wall art pieces. Brass can also be used, but then the price will increase significantly. The great thing is that at Dhiman's, we accept custom orders, including the type of metal you want your handicraft to be built with.

                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <!-- <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/xJv26fAZmng?start=14"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            3<span>&#41; &nbsp;</span> What is the rough estimate of FOC prices?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <div class="drop-down">
                <div class="drop-area">
                  <div class="sol">
                    <p>
                      <li>To Mundra port:
                      </li>
                      <li>To Mumbai port:
                      </li>
                    </p>
                    <button class="content-btn">
                      <a href="index.html">Blog</a>
                    </button>
                  </div>
                  <!-- <div class="videos">
                    <div class="content-card">
                      <iframe
                        src="https://www.youtube.com/embed/xJv26fAZmng?start=14"
                        title="Dhimans Youtube"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
            <span> About the company</span> About us: We are a Maharashtra-based
            export company specializing in the supply of handicrafts and
            Jaggery. At our core, we believe in building long-term relationships
            with our customers based on trust and exceptional service. Our
            commitment to quality is unwavering, and we will never compromise on
            it. We take pride in going above and beyond for our clients and
            always strive to exceed expectations. Our focus on customization
            allows customers to personalize their handicraft orders, ensuring a
            truly unique and personalized experience.
          </p>
          <div class="social-links">
            <a href="https://www.facebook.com/people/Dhimans/100089375347119/ " target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/company/dhiman-s/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/dhiman_exports/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/6264959991" target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCwFhXDP0AB9aBNwbcRWOLRg" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
          <!-- <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div> -->
        </div>
        <div class="footer-center col-md-4 col-sm-6">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Ganesh Colony </span> Amravati, India</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+91-9405823171</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> explore@dhiman.org</a></p>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
          <h2 style="text-align: left;">Dhimans</h2>
          <p class="menu">
            <a href="/"> Home</a> | <a href="/product"> Products</a> |
            <a href="/faq"> FAQ</a> |
            <a href="/terms-cond"> Payment & shipping T&C</a>
          </p>
          <p class="name">Dhimans &copy; 2023</p>
        </div>
      </footer>
      <div class="whatsapp_main">
        <a href="https://wa.me/6264959991" target="_blank"
          ><img src="images/whatsapp-con.png" width="100%" class="whatsapp_img"
        /></a>
      </div>
    </main>
    <script type="module" src="scripts/faq.js"></script>
  </body>
</html>
