<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles/terms_conditions.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navigation bars -->
    <nav>
      <div class="logo">
        <img
          decoding="async"
          src="images/multiwebpress.png"
          alt="Logo Image"
          style="width: 100vh; padding-top: 5%; display: flex; flex-wrap: wrap"
        />
      </div>
      <div class="hamburger">
        <div class="bars1"></div>
        <div class="bars2"></div>
        <div class="bars3"></div>
      </div>
      <ul class="nav-links">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="faq">Faq</a></li>
        <li><a href="product">Product</a></li>
        <li><button class="login-button" href="terms-cond">T&C</button></li> -->
        <li><a href="/">Home</a></li>
        <li><a href="/faq">Faq</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/terms-cond">T&C</a></li>
      </ul>
    </nav>
    <!-- thumbnail -->
    <!-- <div class="div-head">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="thumbnail">
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
      <div class="thumb-card">
        <div class="img-thumb">
          <a href="https://www.youtube.com/watch?v=gyy8gJcpU4A" target="_blank"
            ><img src="images/thumb1.png" alt="image"
          /></a>
        </div>
      </div>
    </div> -->
    <!-- main container -->
    <main>
      <div class="tc-main">
        <div class="new-headings">
          <h2>Payment</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque
            veniam saepe rerum fugit impedit dignissimos quos rem, eum sint
            quod, sunt dolor quaerat animi beatae tempora maiores natus
            repellendus!
          </p>
        </div>
        <div class="new-headings">
          <h2>Shipping</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque
            veniam saepe rerum fugit impedit dignissimos quos rem, eum sint
            quod, sunt dolor quaerat animi beatae tempora maiores natus
            repellendus!
          </p>
        </div>
        <div class="new-headings">
          <h2>Terms & Conditions</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam atque
            veniam saepe rerum fugit impedit dignissimos quos rem, eum sint
            quod, sunt dolor quaerat animi beatae tempora maiores natus
            repellendus!
          </p>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
            <span> About the company</span> About us: We are a Maharashtra-based
            export company specializing in the supply of handicrafts and
            Jaggery. At our core, we believe in building long-term relationships
            with our customers based on trust and exceptional service. Our
            commitment to quality is unwavering, and we will never compromise on
            it. We take pride in going above and beyond for our clients and
            always strive to exceed expectations. Our focus on customization
            allows customers to personalize their handicraft orders, ensuring a
            truly unique and personalized experience.
          </p>
          <div class="social-links">
            <a
              href="https://www.facebook.com/people/Dhimans/100089375347119/ "
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
            <a
              href="https://www.linkedin.com/company/dhiman-s/"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/dhiman_exports/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/6264959991" target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a
              href="https://www.youtube.com/channel/UCwFhXDP0AB9aBNwbcRWOLRg"
              target="_blank"
            >
              <i class="fab fa-youtube"></i>
            </a>
          </div>
          <!-- <div class="icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div> -->
        </div>
        <div class="footer-center col-md-4 col-sm-6">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span> Ganesh Colony </span> Amravati, India</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>+91-9405823171</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> explore@dhiman.org</a></p>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
          <h2 style="text-align: left">Dhimans</h2>
          <p class="menu">
            <a href="/"> Home</a> | <a href="/product"> Products</a> |
            <a href="/faq"> FAQ</a> |
            <a href="/terms-cond"> Payment & shipping T&C</a>
          </p>
          <p class="name">Dhimans &copy; 2023</p>
        </div>
      </footer>
      <div class="whatsapp_main">
        <a href="https://wa.me/6264959991" target="_blank"
          ><img src="images/whatsapp-con.png" width="100%" class="whatsapp_img"
        /></a>
      </div>
    </main>
    <script type="module" src="scripts/faq.js"></script>
  </body>
</html>
