/** @format */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.primary-header {
  background: #ebebeb;
}

body {
  margin: auto;
}
main {
  max-width: 80vw;
  margin: auto;
}
.container {
  padding: 1.5rem 8rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100px;
  font-weight: bold;
  color: black;
}

.container h1 {
  font-size: 1.8rem;
}

/* .nav-list{
    display: flex;
    gap: 2rem;
    align-items: center;
  } */

.button-top {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  line-height: 1;
  color: white;
  background-color: #85b839;
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

nav {
  height: 6rem;
  width: 100vw;
  display: flex;
  /* position: fixed; */
  padding-left: 4rem;
  padding-right: 4rem;
  z-index: 9999;
  background-color: #ebebeb;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

/* Styling Logo*/

.logo {
  padding: 3vh 3vw;
  text-align: left;
  width: 20vw;
}

.logo img {
  height: auto;
  width: 4rem;
}

/* Styling Navigation Links*/

.nav-links {
  width: 80vw;
  display: flex;
  padding: 0 0.7vw;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  font-weight: 600;
}

.nav-links li a {
  margin: 0 0.7vw;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 10px;
}

.nav-links li a:hover {
  color: #000;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}
.whatsapp_main {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
  z-index: 99999;
}
/* /Buttons Styling/  */
.login-button {
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
}

.login-button:hover {
  color: #fff;
  background-color: #dd5f24;
  border: 1.5px solid #dd5f24;
  transition: all ease-in-out 350ms;
}

/* /Navigation Icon Styling/ */
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/* /Responsive Adding Media Queries/  */
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    /* z-index: 3; */
    height: 50px;
    margin-top: 0;
  }
  .logo {
    width: 270px;
    padding-top: 0;
    padding-left: 0px;
  }
  .featured-header {
    margin: 0;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    background: #ebebeb;
    /* position: fixed; */
    opacity: 1;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 40% -20%);
    -webkit-clip-path: circle(50px at 90% -30%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 3rem;
    height: 200px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    height: 200px;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }

  /* Navigation Bar Icon on Click*/

  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #000;
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
    background-color: #000;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #000;
  }
}
/* here i start image stack */
.feature-container {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}
.admin-head {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin: 2rem;
}

.heading::after {
  position: absolute;
  content: "";
  width: 100px;
  border-bottom: 15px solid #85b839;
  opacity: 0.6;
  z-index: -1;
  margin-left: -101px;
}
.admin_panel .admin {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.admin form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 2rem;
  background: rgb(254 254 254);
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.field input {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.admin button {
  font-size: 1.25rem;
  padding: 0.75rem;
  border: none;
  margin-top: 1rem;
  background-color: #85b839;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.admin button:hover {
  background-color: #91c444;
}
@media (max-width: 1200px) {
  .admin form {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.footer {
  background-color: #f0f0f0;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;

  border-radius: 2px;
  font-size: 20px;

  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;

  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #3b3b3b;
  text-decoration: none;
}

/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #505050;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #1c1c1c;
}

.footer .menu {
  color: #2e2e2e;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #272727;
}

.footer .name {
  color: #363636;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
}
